<html>
    <head>
        <style>
        #about {
            color: blue;
            font-family: Arial;
            text-align: center;
        }
        .recc {
            color: green;
            font-family: Georgia;
           /* text-align: center;*/
        }

        #kitten {
            border:10px dotted 0000FF;
                /*display:block;*/
                margin-right: auto;
                margin-left: auto
        }
        </style>
    </head>

    <body>

        <a href="/"><img id="kitten" src="http://placekitten.com/g/700/400"></a>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type=text/javascript>
        // $SCRIPT_ROOT = '/';
              $(function() {
                $('a#getCookies').bind('click', function() {
                    console.log('clicked');
                    c = getCookies();

                  // $.getJSON($SCRIPT_ROOT + '/view_cookies', {
                  //   domain: $('input[name="domain"]').val(),
                  // }, function(data) {
                  //   $("#domain").text(data.domain);
                  // });
                  // return false;
                });
              });
        </script>

<!-- should the below go on show_cookies.html? -->
        <script type=text/javascript>
            function getCookies(){
                chrome.cookies.getAll({},function (cookies) {
                    console.log(cookies.length);
                    var interestingCookies = [];
                    for(i=0;i<cookies.length;i++) {
                        if (isInterestingCookie(cookies[i])) {
                            console.log('cookie number',i);
                            console.log(cookies[i]);
                            interestingCookies.push(cookies[i]);
                        }
                    }   
                    localStorage.interestingCookies = interestingCookies;
                });
            }
            // window.onload=getCookies;

            function isInterestingCookie(cookie) {
                console.log('get cookies with one shared parameter');
// insert the name of the domain + suffix below 
// manage formatting
                return cookie.domain == "." // + PUT THE DOMAIN HERE;
            }

        </script>

    <h1>designate domain using jquery</h1>
    <p><input type=text size=5 name=domain> domain please
       <span id=result>?</span>
    <p><a href=# id=getCookies>get the cookies</a>

        <p>
            here, we are going to look at all the cookies currently on your browser.

        </p>
    </form>

</body>
</html>





