{% extends "base.html" %}

{% block content %}

        <div><p>
            Log in for the swaps or sign up if you haven't been here before.</br></br>
            Kitteh says: don't swap all your cookies because of have important information in there.
        </p></div>


<form action="/login" method="POST" name= "login">
{{form.hidden_tag()}}

    <legend class=""> Login</legend>
    {% from "_formhelper.html" import render_field %}           
    <dl> <!-- begin error check -->

    <h3 id="login_label"> User Login </h3>
    <table>
        <tr>
        <th>email here </th>
        <th> password here</th>
        </tr>

        <th>{{form.email.description}}</th>
        <th>{{form.password.description}}</th>
        
        <tr>
            <td>{{render_field(form.email)}}</td>
            <td>{{render_field(form.password)}}</td>
        </tr>
        <tr>
            <td>remember me: {{form.remember_me}}</td>
        </tr>
        <tr>
            <td> <input type="submit" value="sign in" input id="sign_in" /> </td> </br>
        </tr>
    
</form>
        <p>
        </p>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="foundation.js"></script>
        <script src="popup.js"></script>
{% endblock %}

        





