{% extends "base.html" %}

{% block content %}
  <div></br>
    Sorry, we're out baking some cookies or maybe a pie. </br></br>
    Check out the nav tools above to go home. </br></br>
    We'll find a picture while you're out.
  </div>
        <script type="text/javascript">
            console.log('really guys?');
            $("#sbtn").click(function() {
            getSelectedDomain();
        });
        </script>


    <script src="/static/js/library.js"></script>
    <script src="static/js/jquery.min.js"></script>
{% endblock %}

