{% extends "base.html" %}

{% block content %}
        <script src="/static/js/jquery.min.js"></script>

        <form action="/search" method="GET" name= "show_cookies">

        <p>enter a domain please:</br>
            <input type=text size=15 name=domain id="relevant_domain">
            <span id=result> </span> </br>
        <input type="submit">
        <div id = 'goto_search'
            Want to search for a different domain?</br><a href='/search'>search now plz</a></br></br>
        </div>
        <div id='search_content'>

        <p>
            Here are the cookies from your browser from that domain.

        </p>
        </div>        
        <table id="cookie_domain_table" border="1">
            <tr>
                <th><em>i</em></th>
                <th><em>source</em></th>
                <th><em>name</em></th>
                <th><em>value</em></th>
            </tr>
            
        </table>
        <script src="/static/js/library.js"></script>
        <script src="/static/js/pop.js"></script>

{% endblock %}




