<html>
    <head>
        <style>
        #about {
            color: blue;
            font-family: Arial;
            text-align: center;
        }
        .recc {
            color: green;
            font-family: Georgia;
           /* text-align: center;*/
        }

        #kitten {
            border:10px dotted 0000FF;
                /*display:block;*/
                margin-right: auto;
                margin-left: auto
        }
        </style>
    </head>

    <body>

        <a href="/"><img id="kitten" src="http://placekitten.com/g/700/400"></a>

     <form action="/view_cookies"> <!-- directs to view_cookies -->
        <ul>

            <li>
                <label for="first_name">first name please:</label>
                <input type="text" name="first_name" />
                <!-- <input type="submit"> -->
            </li>
<!--             <li>
                <label for="last_name">Enter last name:</label>
                <input type="text" name="last_name" />
                <!-- <input type="submit"> -->
            </li> 
   
        </ul>
        <p>
            we're going to look at all the cookies currently on your browser.

        </p>
    </form>

</body>
</html>