{% extends "base.html" %}

{% block content %}
    <script src="static/js/jquery.min.js"></script>

    <form action="/search" method="GET" name= "search">

    <p>enter a domain please:</p></br>
        <input type=text size=15 name=domain id="relevant_domain">
        </input>
        
        <span id=result> </span> </br>
        <input id="sbtn" type="submit" /> 
    </form>

        <script type="text/javascript">
            console.log('really guys?');
            $("#sbtn").click(function() {
            getSelectedDomain();
        });
        </script>


    <script src="/static/js/library.js"></script>
    <script src="/static/js/pop.js"></script>
{% endblock %}






