<html>
    <head>
        <style>
        #about {
            color: blue;
            font-family: Arial;
            text-align: center;
        }
drxz
        #header {
            border:10px dotted black;
                /*display:block;*/
            text-align: center;
       }
        </style>
    </head>

    <body>

        <form action="/search" method="GET" name= "show_cookies">

        <h2 id ='header'>chose a domain to search for cookies</h2>
        <p>enter a domain please:</br>
            <input type=text size=15 name=domain id="relevant_domain">
            <span id=result></span> </br>
        <input type="submit">
        <div id = 'goto_search'
            Want to search for a different domain?</br><a href='/search'>search now plz</a></br></br>
        </div>

        <p><a href=# id=searchBySomain>get the cookies</a>

<script src="jquery.min.js"></script>
<script src="library.js"></script>

</body>
</html>





